---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const name =  'Sreelekha Guggilam';
const nickname = 'Lekha';

---

<html lang="en">
	<head>
		<MainHead title="About | "${nickname} description="About ${nickname} Lorem Ipsum" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Lekha</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					I an a R&D Associate in the Geospatial Artificial Intelligence (GeoAI) group within the National Security 
					and Sciences Directorate (NSSD) at Oak Ridge National Lab (ORNL). I completed my PhD in Computational 
					Sciences from SUNY, University at Buffalo (UB), Institute of Computational Data Sciences (ICDS). My research 
					is in the area of unsupervised anomaly detection and open-set classification for streaming data, knowledge 
					and data distillation for neural networks.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
