---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const name =  'Sreelekha Guggilam';
const nickname = 'Lekha';

---

<html lang="en">
	<head>
		<MainHead title="About | {nickname}" description="About {nickname}" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About {nickname}</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/Users/lekhag/Documents/GitHub/sreelekh.github.io/Images/ai-artificial-intelligence-wave-lines-neural-network-purple-blue-and-green-light-isolated-on-black-background-in-concept-of-technology-vector.webp"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					I am a Research Associate in Machine Learning at the Oak Ridge National Laboratory, 
					where I develop statistical methods for anomaly detection, probabilistic graphical models, 
					and foundation models for geospatial analysis. My research as a member of the Geospatial Artificial 
					Intelligence (GeoAI) group within the Geospatial Science and Human Security Division (GSHSD) of the 
					National Security and Sciences Directorate (NSSD) focuses on developing novel 
					algorithms to identify anomalies in a collection of evolving multivariate data streams. I 
					received my doctorate in Computational Sciences from SUNY University of Buffalo (UB). I earned my 
					Bachelor of Science in Mathematics from the Indian Statistical Institute in 2014 and my 
					two Master of Science degrees in Biostatistics-Bioinformatics (2015) and Civil Engineering (Transportation 
					Statistics) (2017) from UB. My dissertation was centered on anomaly detection in dynamic data, 
					open-set classification, probabilistic techniques, and non-parametric mixture models.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
