import { useState } from "react";
import { getResults } from "git";

const ResultsPage = () => {
  const [results, setResults] = useState(['https://github.com/sreelekh/INCAD']);

  const getLiveResults = async () => {
    const results = await getResults();
    setResults(results);
  };

  useEffect(() => {
    getLiveResults();
  }, []);

  return (
    <div>
      <h1>Live Results</h1>
      <ul>
        {results.map((result) => (
          <li key={result.id}>{result.title}</li>
        ))}
      </ul>
    </div>
  );
};

export default ResultsPage;